.title {
  font-family: sans-serif;
  text-align: center;
}

.component_container {
  position: relative;
}

.main {
  display: grid;
  gap: 1em;
}

.btn {
  background: #ff003a;
  padding: 10px 10px 10px;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 800;
  cursor: pointer;
  margin-bottom: 5px;
}

#parent {
  border-radius: 15px;
}